 <div class="user-details">
  <h1> Flip gig </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Investigate</h2>
      <!-- <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>-->
      <p>1. Investigate current gig economy practices and technology interaction and biases using the parcel and food delivery sectors in London as a case study; Expose the inefficiencies and inequities arising from current ad-hoc last-mile service provision and algorithmic approaches</p>
    </div>
    <div class="tech">
      <h2>Empower</h2>
      <!--<i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>-->
      <p>Co-create new algorithms and interaction designs that empower gig economy couriers to better meet working preferences and personal circumstances; matching these more efficiently to work location and availability, the use of sustainable modes of transport; Explore how we can enable end-to-end trusted relationships and practices between consignors and consignees.</p>
    </div>
    <div class="tech">
      <h2>Models</h2>
      <!--<i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>-->
      <p>Develop new algorithms and dynamic models for allowing couriers to collaborate in new ways to encourage sutainable 'multi-modal' delivery and collection; Use simulation, modelling, and trials to evaluate the potential impact and uncover barriers to adoption of the new models we propose at scale.</p>
    </div>
</div>
